.hidden {
  display: none;
}
.container { 
  width: 15rem;
  height: 15rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}
.container h2 {
  width: fit-content;
  margin: 0 auto;
}
.slot-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border-radius: 10px;
}
.slot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid black;
}

.btn {
  height: 4rem;
  border: none;
  background: rgb(206, 161, 37);
  color: white;
  border-radius: 10px;
}
.btn:hover {
  border: 1px solid black;
}
.stop {
  color: red;
}